@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;600&display=swap');

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about .title-area{
    margin: 150px 0px 40px 0px;
}
.about-area{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 47px 0px 100px 0px;
}
.perfil-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.perfil-img img{
    height: 250px;
    object-fit: contain;
    border-radius: 50%;
    box-shadow:  0px 0px 12px 2px #000;
}
.perfil-img, .about-desc{
    width: 40vw;
}
.about-desc{
    font-weight: 400;
    font-size: 1rem;
    line-height: 25px;
    padding: 20px;
    border-radius: 15px;
    background-color: #1f2324;
    box-shadow: 0 10px 20px -8px #000000;
    color: #c5c5c5;
    font-family: 'Mulish', sans-serif;
}
.about-desc abbr{
    text-decoration: none;
}
.about-desc strong{
    font-weight: 600;
    color: #fff;
}

@media (max-width: 895px){
    .about-desc{
        font-size: 0.8rem;
    }
}

@media (max-width: 745px){
    .about-area{
        flex-direction: column;
        padding: 25px 0px;
    }
    .perfil-img, .about-desc{
        width: 80vw;
    }
    .perfil-img{
        margin-bottom: 30px;
    }
    .perfil-img img{
        height: 200px;
    }
    .about-desc{
        max-width: 100%;
        text-align: justify;
    }

}