.banner{
    height: 100vh;
    background-color: #B98B57;
    background-image: linear-gradient(45deg, #141414 50%, transparent 0%);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.banner-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    color: #ffff;
}
.banner-info h3{
    font-size: 2.2rem;
    font-weight: 700;
}
.banner-info h1{
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.8;
}
#dev{
    color: #B98B57;
    text-shadow: 2px 2px 1.5px #333;
}
.banner-contact{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}
.banner-contact a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #B98B57;
    padding: 0.7em 1.4em;
    font-size: 0.875rem;
    position: relative;
    background: transparent;
    user-select: none;
    overflow: hidden;
    z-index: 1;
    font-weight: 700;
}
.banner-contact a:nth-child(1){
    margin-right: 20px;
}
.banner-contact span{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border: 4px solid #B98B57;
}
.banner-contact span::before {
    content: "";
    display: block;
    position: absolute;
    width: 8%;
    height: 500%;
    background: #141414;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all 0.3s;
}
.banner-contact a:hover span::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: #B98B57;
}
.banner-contact a:hover{
    color: #141414;
}
.banner-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-img img {
    animation: banner 5s infinite;
    height: 300px;
}

.banner-img .sombra{
    margin-top: 5px;
    width: 90px;
    height: 50px;
    background-color: #141414;
    border-radius: 55%;
}

/*About*/
.about, .skills, .projects{
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-area{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px 0px 50px 0px;
}
.perfil-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.perfil-img img{
    height: 300px;
    object-fit: contain;
    border-radius: 50%;
    box-shadow:  0px 0px 12px 2px #c5c5c5;
}
.perfil-img, .about-desc{
    width: 40vw;
}
.about-desc{
    font-weight: 400;
    font-size: 1rem;
    line-height: 23px;
}
.about-desc abbr{
    text-decoration: none;
}
.about-desc strong{
    font-weight: 600;
}

/*skills*/
.skills{
    background-color: #141414;
}
.skills .title-text{
    color: #ffff;
}
.skills-area{
    padding-bottom: 19px;
}
.skills-area ul, .projects-area ul{
    list-style: none;
    display: flex;
}

/*projects*/
.container-projects{
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-projects{
    max-width: 80vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.projects-area{
    padding: 0 15px;
}
.projects-area ul{
    margin-bottom: 10px;
}
.next-slide{
    width: auto;
    height: auto;
    background-color: #b98b57ad;
    border-radius: 50%;
    cursor: pointer;
}
.container-projects .left{
    margin-right: 15px;
}
.container-projects .right{
    margin-left: 15px;
}

/*animação*/
@keyframes banner{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
}

/*responsividade*/

@media (max-width: 895px){
    /*banner*/
    .banner-info h3{
    font-size: 1.75rem;
    }
    .banner-info h1{
        font-size: 2.2rem ;
    }
    .banner-contact a{
        font-size: 0.75rem;
    }
    .banner-img img{
        height: 250px;
    }
    .banner-img .sombra{
        width: 75px;
        height: 35px;
    }

    /*about*/
    .perfil-img img{
        height: 250px;
    }
    .about-desc{
        font-size: 0.875rem;
    }
}

@media (max-width: 745px){
    /*banner*/
    .banner{
        flex-direction: column-reverse;
        justify-content: center;
    }
    .banner-info h3{
        font-size: 1.25rem;
    }
    .banner-info h1{
        font-size: 1.75rem;
    }
    .banner-info{
        padding: 15px;
    }
    .banner-img img{
        height: 200px;
        margin: 100px 0 20px 0;
    }
    .banner-img .sombra{
        display: none;
    }

    /*about*/
    .about-area{
        flex-direction: column;
        padding: 0;
    }
    .perfil-img img{
        height: 150px;
        margin-bottom: 15px;
    }
    .about-desc{
        width: 80vw;
    }

    /*skills*/
    .skills-area ul{
        flex-direction: column;
    }
    
    /*projects*/
    .container-projects .left{
        margin-right: 10px;
    }
    .container-projects .right{
        margin-left: 10px;
    }
    .carousel-projects{
        max-width: 70vw;
    }
    .projects-area{
        padding: 0;
    }
}
