.footer {
    margin-top: 800px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #141414;
}
.contact{
  margin-bottom: 30px;
}
.footer p{
  color: #B98B57;
  font-size: 13px;
  font-weight: 600;
}
.icon{
  margin: 0px 8px;
  text-decoration: none;
  color: #adadad;
}
.icon:hover{
  color: #B98B57;
}
