header{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    background: transparent;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: all ease 0.5s;
    border-bottom: 1px solid #c4c4c48e;
}
header.black{
    background-color: #141414;
}
.logo{
    height: 80px;
}

.logo img{
    height: 100%;
}

.menu-area{
    display: flex;
}

.menu ul{
    display: flex;
}
.menu ul, 
.menu li{
    list-style: none; 
    margin: 0px;
    padding: 0px;
    font-size: 0.8125rem;
    font-weight: 600;
}
.menu a{
    height: 100px;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    color: #ffff;
}

.menu a:hover{
    border-bottom: 3px solid #141414;
    color: #141414;
}
.black .menu a:hover{
    border-bottom: 3px solid #b98b57;
    color: #b98b57;
}
.hamburger{
    display: none;
    width: 60px;
    height: 45px;
    position: relative;
    margin: 27px;
    transition: .5s ease-in-out;
    cursor: pointer;
}
.hamburger span{
    display: block;
    position: absolute;
    height: 6px;
    width: 100%;
    background: #604425;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}
.hamburger span:nth-child(1){
    top: 0px;
}
.hamburger span:nth-child(2), .hamburger span:nth-child(3){
    top: 18px;
} 
.hamburger span:nth-child(4){
    top: 36px;
}
.hamburger.open span:nth-child(1){
    top: 18px;
    width: 0%;
    left: 50%;
}

.hamburger.open span:nth-child(2){
    transform: rotate(45deg);
}
.hamburger.open span:nth-child(3){
    transform: rotate(-45deg);
}
.hamburger.open span:nth-child(4){
    top: 18px;
    width: 0%;
    left: 50%;
}

@media (max-width: 745px){
    /*menu responsivo*/

    .menu-area{
        align-items: center;
        flex-direction: column;
    }
    .menu-area .hamburger{
        display: flex;
        width: 40px;
        height: 40px;
        margin-left: 70vw;
        cursor: pointer;
    }
    .menu ul{
        display: none;
        flex-direction: column;
        width: 50vw;
        position: absolute;
        z-index: 99;
        right: 0px;
        background-color: rgba(0, 0, 0, 0.87);
        height: calc(100vh - 100px);
    }
    .menu ul:first-child{
        margin-top: 2px;
        padding-top: 50px;
    }
    .menu a{
        border-bottom: none;
        height: auto;
        font-weight: bold;
        font-size: 1rem;
        margin: 4.8px 0px 4.8px 40px;
    }
    .menu a:hover{
        border-bottom: none;
        color: #b98b57;
    }
    .close ul {
        display: flex;
    }
}

@media (max-width: 642px){
    .menu-area .hamburger{
        margin-left: 50vw;
    }
}
