.project{
    background-color: #FAF4EA;
    border-radius: 5px;
    width: 350px;
    text-align: center;
    box-shadow: 0 10px 20px -10px rgba(0,0,0,.75);
    color: #141414;
}
.cover-photo{
    height: 160px;
    width: 100%;
    border-radius: 5px 5px 0 0;
}
.logo-img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin: 93px 0 0 -175px;
    border: 1px solid #f5e9d5;
    padding: 7px;
    background: #FAF4EA;
}
.project-title{
    font-weight: 700;
    margin: 27px 0 0 120px;
    text-transform: uppercase;
}
.project-info{
    margin: 35px auto;
    line-height: 21px;
    color: #000000;
    font-size: 13px;
    text-align: left;
    max-width: 200px;
}
.project-info span{
    font-weight: 600;
}
.project-view{
    display: flex;
    justify-content: center;
}
.project a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-decoration: none;
    color: #000000;
    font-weight: 600;
}

