.skills{
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills .title-area{
    margin: 150px 0px 20px 0px;
}

.skills-area ul, .projects-area ul{
    list-style: none;
    display: flex;
}
.skill{
    margin: 30px 0px 40px 0px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #B98B57;
    color: #ffff;
}
.skill:last-child{
    border-right: 1px solid #B98B57;
}
.skill .title{
    margin: 20px 0px 5px 0px;
    font-weight: 600;
}
.skill .title-marc{
    color: #B98B57;
}
.skill .desc, .skill .lvl{
    color: #e9e9e9d5;
    font-size: 0.75rem;
}
.skill .desc{
    text-align: justify;
    max-width: 177px;
}
.skill .lvl{
    margin-bottom: 20px;
}

@media (max-width: 895px){
    .skill .logo{
        height: 60px;
    }
    .skill .title{
        font-size: 0.875rem;
    }
    .skill .desc{
        font-size: 0.6875rem;
    }
}
@media (max-width: 745px){
    .skill{
        margin: 15px 0;
        border: none;
    }
    .skill:last-child{
        border-right: none;
    }
    .skills-area ul{
        flex-direction: column;
    }
}