.page-erro{
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.page-erro h1{
    font-size: 6rem;
    text-shadow: 3px 3px 4px #000;
}
.page-erro h2{
    font-size: 1.3rem;
    margin: 15px 0;
}
.page-erro p{
    font-size: 0.8rem;
    font-weight: 600;
    color: #e9e9e9d5;
}
